.servicesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 60px auto;
}

.servicesSection h2{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.servicesSection p{
    font-size: 24px;
    max-width: 600px;
    text-align: center;
    font-weight: 300;
    padding: 30px 0;
    margin-bottom: 20px;
}

.servicesGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}


.servicesGridRow{
    display: flex;
    padding: 20px 12px;
    border: 1px solid orange;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.servicesGridRow:hover{
    scale: 1.03;
}

.servicesGridRowLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.servicesCardIcon{
    border: 4px solid rgba(255, 166, 0, 0.443);
    padding: 20px;
    border-radius: 50%;
}

.cardIcon{
    font-size: 30px;
    color: orange;
}

.servicesGridRowRight{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.servicesGridRowRight h3{
    font-size: 24px;
}

.servicesGridRowRight span{
    font-size: 18px;
}

@media (max-width: 800px) {
    .servicesGrid{
    grid-template-columns: repeat(1, 1fr);
    margin: 0 12px;
    }

}