@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";


*{
    font-family: "Nunito", sans-serif;
}

:root{
    --color-primary: #ffcb05;
    --color-dark: #363732;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}